body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 10px;
  line-height: 15px;
  color: rgb(89, 4, 92);
  background-color: rgb(220, 190, 223);
}

h2{
    color:rgb(202, 19, 126)
}

.list-group-item{
    border: 2px solid rgb(119, 88, 88);
}

@media (min-width:768px)and(max-width:1024) {
    
}