body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 10px;
  line-height: 15px;
  color: rgb(141, 80, 143);
  background-color: rgb(220, 190, 223);
}

h2{
    color:rgb(202, 19, 126)
}

.form-group{
    background-color: rgb(225, 228, 187);
}

@media (min-width:768px)and(max-width:1024) {
    
}